/* Estilos para el formulario de matrícula */
.enrollment-content {
  max-width: 1000px;
  margin: 0 auto;
}

form {
  display: grid;
  gap: 10px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas */
  gap: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container label {
  flex-shrink: 0;
  width: 120px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  grid-column: span 3; /* Span across all columns */
}

button:hover {
  background-color: #555;
}

/* Estilos del Menú y Panel de Control */
.menu-container {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.sidebar {
  width: 200px;
  background-color: #007BFF;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  transition: left 0.3s ease;
  overflow-y: auto; /* Añadido para scroll vertical */
}

.sidebar .menu-icon {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 220px;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-section i {
  font-size: 30px;
  margin-right: 10px;
}

.profile-section span {
  font-size: 18px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  font-size: 18px;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 200px; /* Offset for the fixed sidebar */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  justify-content: center; /* Center content vertically */
  height: 100vh;
  padding: 20px;
}
