<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="CSS\Estilo.css">
    <link rel="stylesheet" href="CSS/panelControl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="sideBar" id="sideBar" data-open="false">
            <div class="closeSideBarBtn" onclick="toggleSidebar()">
                <i class="fa fa-close"></i>
            </div>
            <div class="profile-section">
                <i class="fa fa-user-circle"></i>
                <span id="userName">
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            document.querySelector('#userName').textContent = sessionStorage.getItem('userName');
                        });
                    </script>
                </span>
            </div>
            <a href="menu.html"><i class="fa fa-home"></i> Inicio</a>
            <a href="Matricula.html"><i class="fa fa-id-card"></i> Matrícula</a>
            <a href="Estadisticas.html"><i class="fa fa-chart-line"></i> Estadísticas</a>
            <a href="Datos.html"><i class="fa fa-database"></i> Datos</a>
            <span onclick="logout()">Cerrar Sesion</span>
        </div>
        <div class="mainContent">
            <div class="navBar">
                <a href="#" class="menu-icon" onclick="toggleSidebar()"><i class="fa fa-bars"></i></a>
                <span class="header">SINMA</span>
            </div>
            <div class="content">
                <div class="statistics-content">
                    <h2>Estadísticas</h2>
                    <form id="estadisticas-form">
                        <div class="form-grid">
                            <div class="input-container">
                                <label for="anos">Años:</label>
                                <input type="checkbox" id="anos" name="anos">
                            </div>
                            <div class="input-container">
                                <label for="mensuales">Mensuales:</label>
                                <input type="checkbox" id="mensuales" name="mensuales">
                            </div>
                            <div class="input-container">
                                <label for="fecha-inicial">Fecha Inicial:</label>
                                <input type="date" id="fecha-inicial" name="fecha-inicial">
                            </div>
                            <div class="input-container">
                                <label for="fecha-final">Fecha Final:</label>
                                <input type="date" id="fecha-final" name="fecha-final">
                            </div>
                            <div class="input-container">
                                <button type="button" onclick="verGrafico('estadisticas')">Ver Gráfico</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tipo-content">
                    <h2>Tipos de Sangre</h2>
                    <form id="tipos-sangre-form">
                        <div class="form-grid">
                            <div id="tipos-sangre-container">
                                <div id="tipos-sangre">
                                    <input type="checkbox" id="A+" name="tipo-sangre" value="A+">
                                    <label for="A+">A+</label>

                                    <input type="checkbox" id="A-" name="tipo-sangre" value="A-">
                                    <label for="A-">A-</label>

                                    <input type="checkbox" id="B+" name="tipo-sangre" value="B+">
                                    <label for="B+">B+</label>

                                    <input type="checkbox" id="B-" name="tipo-sangre" value="B-">
                                    <label for="B-">B-</label>

                                    <input type="checkbox" id="AB+" name="tipo-sangre" value="AB+">
                                    <label for="AB+">AB+</label>

                                    <input type="checkbox" id="AB-" name="tipo-sangre" value="AB-">
                                    <label for="AB-">AB-</label>

                                    <input type="checkbox" id="O+" name="tipo-sangre" value="O+">
                                    <label for="O+">O+</label>

                                    <input type="checkbox" id="O-" name="tipo-sangre" value="O-">
                                    <label for="O-">O-</label>
                                    <!-- Repite para otros tipos de sangre -->
                                </div>
                            </div>
                            <div class="input-container">
                                <label for="todos">Todos:</label>
                                <input type="checkbox" id="todos" name="todos" onclick="selectAllBloodTypes(this)">
                            </div>
                            <div class="input-container">
                                <button type="button" onclick="verGrafico('sangre')">Ver Gráfico</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Nueva sección para Estudiantes por Departamento -->
                <div class="Departamento-content">
                    <h2>Estudiantes por Departamento</h2>
                    <form id="estudiantes-departamento-form">
                        <div class="form-grid">
                            <div class="input-container">
                                <label for="departamento">Departamento:</label>
                                <select id="departamento" name="departamento">
                                    <option value="Estelí">Estelí</option>
                                    <option value="Managua">Managua</option>
                                    <option value="León">León</option>
                                    <option value="Chinandega">Chinandega</option>
                                    <option value="Matagalpa">Matagalpa</option>
                                    <option value="Granada">Granada</option>
                                    <option value="Rivas">Rivas</option>
                                    <option value="Masaya">Masaya</option>
                                    <option value="Carazo">Carazo</option>
                                    <option value="Boaco">Boaco</option>
                                    <option value="Chontales">Chontales</option>
                                    <option value="Jinotega">Jinotega</option>
                                    <option value="Nueva Segovia">Nueva Segovia</option>
                                    <option value="Madriz">Madriz</option>
                                    <option value="Río San Juan">Río San Juan</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <label for="todos-departamentos">Todos:</label>
                                <input type="checkbox" id="todos-departamentos" name="todos-departamentos" onclick="selectAllDepartments(this)">
                            </div>
                            <div class="input-container">
                                <button type="button" onclick="verGrafico('departamento')">Ver Gráfico</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="JS\script.js"></script>
</body>

</html>
